<!DOCTYPE html>
<html lang="en">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Welcome</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</head>

<body>
  <nav class="indigo" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Expense Manager</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/users/logout">logout</a></li>
        <li id="userIntro"></li>
      </ul>

    </div>
  </nav>
  <main>
    <div class="container">
      <p class="flow-text"> Your Accounts</p>
      <hr>
      <div style="height: 20rem; overflow-y: scroll">
        <div class="row">
          <% data.forEach(function(account){ %>
          <div class="col s12 m4">
            <div class="card white">
              <div class="card-action">
                <span class="card-title indigo-text bold"> <%= account.accountName %></span>
                <span class="right">
                  <a class='dropdown-trigger' href='#' data-target='dropdown1'>
                    <i class="material-icons black-text">more_vert</i>
                  </a>
                </span>
                <hr>

              </div>
              <div class="card-content black-text">
                <div class="row">
                  <div class="col s12">
                    <span class="flow-text black-text"> current balance <%= account.currentBalance %> Rs.</span>
                  </div>
                </div>
              </div>
              <div class="card-action">
                <a href="#">View Account</a>
              </div>
            </div>
          </div>

          <!-- Dropdown Structure -->
          <ul id='dropdown1' class='dropdown-content black-text' style="width: 800px !important">
            <li><a href="#<%= account._id %>" class="modal-trigger">edit name</a></li>
            <li><a href="#!">remove account</a></li>
          </ul>

          <!-- Modal edit account -->
          <div id='<%= account._id %>' class="modal small">
            <div class="modal-content">
              <h4>Enter New Name</h4>
              <div class="row">
                <form id="editAccountNameForm">
                  <div class="input-field col s8">
                    <i class="material-icons prefix">mode_edit</i>
                    <input id="newName" type="text" class="validate">
                    <input id="accountId" type="hidden" value="<%= account._id %>">
                  </div>
                  <button class="btn waves-effect waves-light indigo col s3 right" type="submit">
                    Change
                    <i class="material-icons right">send</i>
                  </button>
                </form>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
      <p class="flow-text"> friends Accounts</p>
      <hr>
    </div>
  </main>





  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red modal-trigger tooltipped" data-position="left" data-tooltip="Add Account"
      href="#addacc">
      <i class="large material-icons">mode_edit</i>
    </a>
  </div>
  <div id='addacc' class="modal small">
    <div class="modal-content">
      <h4>Enter New Name </h4>

      <div class="row">
        <form class="col s12" enctype="multipart/form-data" id="addAccountForm">
          <div class="row">
            <div class="input-field col s6">
              <input id="account_name" type="text" placeholder="Ex. General, Personal, " class="validate" required>
              <label for="account_name">Account Name</label>
            </div>
            <div class="input-field col s6">
              <input id="account_amount" type="number" class="validate" required>
              <label for="account_amount">Initial Amount</label>
            </div>
          </div>
          <button class="btn waves-effect waves-light indigo" type="submit">Sign Up
            <i class="material-icons right">send</i>
          </button>


        </form>

      </div>

    </div>
  </div>





  <!--  Scripts-->


  <script>
    $(document).ready(function () {
      $('.modal').modal();
    });
    $(document).ready(function () {
      var userIntro = Cookies.get('firstName')
      console.log(userIntro)
      $('#userIntro').text("Hello " + userIntro)


      $('.tooltipped').tooltip();
      $('.dropdown-trigger').dropdown({ hover: true, constrainWidth: false });
      $('.fixed-action-btn').floatingActionButton();


      $('#editAccountNameForm').on('submit', function () {
        var newName = $('#newName').val();
        var accountId = $('#accountId').val();
        console.log(accountId);
        $.ajax({
          type: 'PATCH',
          url: '/accounts/' + accountId,
          // data: JSON.stringify([{"propName":"accountName","value":newName}]),
          data: { data: JSON.stringify([{ propName: "accountName", value: newName }]) },
          success: function (data) {
            $('.modal').modal('close');
            M.toast({ html: data.message })
            setTimeout(function () {
              location.reload()
            }, 2000)
          },
          error: function (xhr, ajaxOptions, thrownError, data) {
            if (xhr.status >= 300) {
              var data = JSON.parse(xhr.responseText);
              M.toast({ html: data.message })
            }
          }
        });

        return false;

      });


      $('#addAccountForm').on('submit', function(){
    
        var userId = Cookies.get('userId');
        var name = $('#account_name').val();
        var amount = $('#account_amount').val();
          $.ajax({
            type: 'POST',
            url: '/accounts',
            data:{accountName:name, currentBalance:amount, owner:userId},
            success: function (data) {
              M.toast({ html: data.message })
              location.reload();
            },
            error:function (xhr, ajaxOptions, thrownError, data){
              if(xhr.status>=300) {
                var data = JSON.parse(xhr.responseText);
                M.toast({ html: data.message })
              }
          }
          });
    
         return false;
    
      });
    });


  </script>

  <script src="/materialize/js/materialize.js">
  </script>
</body>


</html>